<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Nitrogen.DataBase.IDataBase,Nitrogen.DataBase" />
    <typeAlias alias="SqlServer" type="Nitrogen.Data.SqlServer.DataBase,Nitrogen.Data.SqlServer" />
    <typeAlias alias="MySql" type="" />
    <typeAlias alias="Oracle" type="" />
  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>
  </containers>
</unity>